<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redlintu.theme.redwhite.icons"
    android:versionCode="1"
    android:versionName="1.0"
    android:allowBackup="false">

    <overlay
        android:targetPackage="com.android.systemui"
        android:category="android.theme.customization.icon_pack"
        android:priority="1" />

    <application
        android:label="RedWhite Icons"
        android:hasCode="false"
        android:icon="@drawable/ic_power_shutdown" />
</manifest>
